@import"colores";


#index{
	background-color:$Secondary;
	

}

#header{
	background:linear-gradient(to top, $Secondary, black);
	padding: 10px;
	height: 25vh;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    background-color: #616161;
    font-size: 14px;

}

.container{
	margin-bottom: 5px;
}

#caja1{
	padding-bottom: 10px;
	display: flex;  
	flex-direction: row; 
   justify-content: space-evenly;
	font-size: 150%

}

#menu{
	padding:20px;
	height: 10px;
    width: 1300px;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
	font-size: 150%;
}

#menu div{
	 display: flex;
    position: relative;
    font-size: 2rem;
    width: 100%;
    justify-content: space-between;
    padding: .5rem;
    align-items: center;
    margin-right: 30px;
    border: solid 1px black;
}

#menu div:hover{
	background-color: $light;
    box-shadow: 3px 3px $Secondary;
}
#imagen{
	width:1300px;
	height: 200px;
	display: block;
	margin-left:40%;
}


.titulo{
	color: $light;
	font-size: 150%;

}

.opciones{
	display: grid;
	grid-template-rows: 200px 2fr 2fr 40px; 
  	grid-template-columns: 25% auto 25%;
	margin: 10px;
}


.Accesorios{
	display: inline-flex;
	flex-direction: row;
	padding: 50px 50px 20px;
}
.Accesorios div{
	display: relative;
	align-items: center;
	padding: 30px;
	margin-left:70px;
	margin-right:70px;
	margin-bottom: -15px;
	padding: 35px 40px 20px;
}

.Accesorios div p{
	display: center;
	border-top:solid 10px $Secondary;	
	border-bottom:solid 10px $Secondary;
	border-left:solid 10px $Secondary;
	border-right:solid 10px $Secondary;


}


#borde{
		border-top:solid 10px $Secondary;	
		border-bottom:solid 10px $Secondary;
		border-left:solid 10px $Secondary;
		border-right:solid 10px $Secondary;
		display: flex;  flex-direction: row; 
   		justify-content: center;
}

.foot{
	background-color: #CDCDCD;
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-content: space-around;
	padding-top: 64px;
    padding-bottom: 64px;
    text-align: center;
}

.foot__ayuda{
	h2{
		color: $danger;
		font-size: 250%;
	}
}

.foot__redes{
	h2{
		color: $danger;
		font-size: 250%;
	}
}

.carousel-item{
 img{
 	background-image: 1000px;
 }
}


h2 li{
	 font-size: 150%;
}

h1{
	color: $danger;
	 display: inline-block;
}

ul li h2{
	color: $danger;
	padding-right: 350px;
	margin-bottom: 5px
}

h2{
	  font-size: 200%;
	  display:flex;
	  justify-content: center;
	   text-align: center;
	   padding-bottom: 30px;
}
	 

p{
	  font-size: 150%;

}

nav div a {
	
    color: $danger;
    padding: 5px;
}

a{
	text-decoration: none;
	padding: 5px;
}





	
